*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: rgb(22, 21, 21);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 0rem 10rem;
}

// *,
// *::after {
  //   box-sizing: inherit;
  // }
  
  main {
    text-align: center;
    z-index: 1;
}

video {
  position: fixed;
  left: -13rem;
  width: 120%;
  z-index: -1;
  opacity: .05;
  // object-fit: cover;
}